
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}

/* ================ signup ======================== */

.signupSection{
    text-align: center;
}

.signupSection img{
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100%;
}



.signupSection h2{
    font-size: 30px;
    font-weight: 500;
}

.categoryDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 10%;
    gap: 30px;
}

.cateEach{
    border: gray solid 1px;
    padding: 50px 30px;
    background-color: var(--white-color);
    border-radius: 30px;
    position: relative;
}

.cateEach p{
    text-align: left;
    font-size: 20px;
}

.cateEach input{ 
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 50px;
}

.cateEach input[type="radio"]{
    transform: scale(1.5);
}

.signupSection button{ 
    padding: 15px;
    width: 20%;
    color: var(--white-color);
    font-size: 15px;
    border: none;
    border-radius: 30px;
    cursor: default;
    transition: all ease 0.3s;
}


.signupSection span{
    display: block;
    font-size: 15px;
    padding-bottom: 50px;
    padding-top: 20px;
} 


@media only screen and (min-width:321px) and (max-width:768px){
    
    .signupSectionImg{
        overflow: hidden;
        height: 100%;
    }

    .signupSectionImg img{
        width: 100%;
    }

    .signupSection h2{
        font-size: 20px;
        font-weight: 500;
    }

    .categoryDiv{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px 8%;
    }

    .cateEach{
        padding: 30px 30px;
    }

    .cateEach p{
        font-size: 15px;
    }

    .cateEach input{ 
        position: absolute;
        bottom: 50px;
        right: 50px;
        padding: 10px;
    }

    .signupSection button{
        width: 80%;
        padding: 10px;
    }
}