@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}



/* ================= section ====================== */


.dashHeaderSection{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 20px 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 50px;
    position: fixed;
    width: 100%;
    background-color: var(--white-color);
    align-items: center;
    z-index: 3;
}

.dashHeaderSectionTwo{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 50px;
    position: fixed;
    width: 100%;
    background-color: var(--white-color);
    align-items: center;
    z-index: 3;
}

.dashHeaderOne{

}

.nav-ul{
    display: grid;
    grid-template-columns: 3fr 650px 1fr;
}


.nav-ul2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

.dashHeaderOne img{
    width: 200px;
}

.dashHeaderTow {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dashHeaderTow li{
    list-style: none;
    cursor: pointer;
    color: black;
}

.notifyImageDiv{
    display: flex;
    gap: 20px;
    /* align-items: center; */
    width: 100%;
    margin-left: 30px;
}

.notifyImageDiv img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.dashBoardForm{
    display: flex;
    gap: 20px;
    align-items: center;
}

.dashBoardForm input{
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    border: rgb(224, 224, 224) 1px solid;
    border-radius: 15px;
    outline: none;
} 

.dashBoardForm div{
    width: 25%;
    cursor: pointer;
}

.dashBoardForm button{
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--red-color);
    color: var(--white-color);
    cursor: pointer;
}


.profile{
    position: relative;
}

.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    right: -50px;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 300px;
    padding: 30px 0;
    z-index: 100px;
}


.dropMenu{
    padding: 10px 20px;
}


.dropMenu h4{
    text-align: left !important;
    padding-bottom: 10px;
    font-size: 20px;
}


.dropMenu p{
    text-align: left !important;
    font-size: 12px;
}


.dropMenu hr{
    border: #ececec 0.5px solid;
    margin-bottom: 5px;
}


.dropMenu span{
    font-size: 13px;
    cursor: pointer;
    color: #C32F07;
}


.dropMenu span:hover{
    padding-left: 10px;
    transition: all 0.5s ease; 
    color: #340d02;
}


.dropdown h3{
    text-align: center;
}

.dropdown p{
    text-align: center;
}

.dropdown img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.dropdown li{
    list-style: none;
    margin-top: 0;
    cursor: pointer;
    padding: 10px 30px;
    color: #000000;
    /* border-bottom: rgb(236, 236, 236) 1px solid; */
}

.dropdown li:hover{
    background-color: var(--red-color);
    color: var(--white-color);
}

.profile:hover .dropdown {
    display: block;
  }

  .dashIcons1, .dashIcons2{
    display: none;
  }

@media only screen and (min-width:318px) and (max-width:768px){
    .dashIcons1{
        display: block;
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .dashIcons2{
        display: block;
        font-size: 30px;
        position: absolute;
        right: 20px;
    }



    .nav-ul{
        background-color: var(--black-color) ;
        color: var(--white-color);
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -100%;
        bottom: 0;
        padding-left: 40px;
        padding-top: 60px;
        overflow-y: scroll;
    }

    .open{
        left: 0;
        transition: all 0.5s ease;
    }

    .close{
        left: -100%;
        transition: all 0.5s ease;
    }


    .dashHeaderTow {
        display: block;
        padding-bottom: 20px;
    }

    .dashHeaderTow li{
        padding-bottom: 20px;
        color: white;
    }

    .dashBoardForm{
        display: block;
        padding-bottom: 20px;
    }

    .dashBoardForm  input{
        margin-bottom: 20px;
        width: 90%;
    }

    .dashBoardForm div{
        margin-bottom: 20px;
    }

    .dashBoardForm button{
        margin-bottom: 20px;
        width: 50%;
    }

    .dashBoardForm{
        display: block;
        padding-bottom: 20px;
    }

    .notifyImageDiv{
        display: flex;
        margin-left: 0;
        /* align-items: center; */
    }


    .dn1{
        left: -20px;
        right: 0;
        width: 350px;
        height: 200px;
        padding: 20px;
        padding-bottom: 100px;
        background-color: #0a0a0a;
        border: none;
        /* overflow-y: scroll; */
        /* margin-bottom: 100px; */
    }

    
    .dn2{
        left: -50px;
        right: 0;
        width: 330px;
        height: 200px;
        padding: 20px;
        padding-bottom: 100px;
        background-color: #0a0a0a;
        border: none;
    }

    .dn3{
        left: -90px;
        right: 0;
        width: 330px;
        height: 200px;
        padding: 20px;
        padding-bottom: 100px;
        background-color: #0a0a0a;
        border: none;
        /* overflow:auto !important; */
    }

    .dropDetails{}

    .dropMenu hr{
        height: 0;
        margin: 0 !important;
        margin-bottom: 5px;
        border: rgb(36, 36, 36) solid 1px;
    }

    .dropdown p{
        text-align: left;
        padding-top: 5px;
        font-weight: 300 !important;
        color: #e1e1e1;
    }

    .dropdown h3{
        text-align: left;
    }

    .proImgFlex{
        display: flex;
        gap: 20px;
        
    }

    .proImgFlex h3{
        font-size: 14px;
        font-weight: 500;
    }

    .proImgFlex p{
        font-size: 12px;
        color: #808080;
    }

    .dropFlex{
        display: flex;
        gap: 20px;
        padding-left: 70px;
    }

    .dropdown li{
        color:#808080; 
        padding: 0;
    }

    .dropdown li:hover{ 
        padding: 5px 10px;
    }

    
    .dropdown img{
        width: 25%;
        height: 30%;
        border-radius: 50%;
        margin: 0;
        display: flex;
        justify-content: left;
        padding-bottom: 10px;
    }

}