@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}

/* ===================== dashProjectSection ===================== */

.dashProjectSectionGen{
    padding: 120px 8%;
}

.dashProjectSectionDiv{
    background-color: #ffffff;
    padding: 50px;
    margin-top: 20px;
    border-radius: 30px;
    border: #ebebeb 1px solid;
}
.dashProjectSectionDiv hr{
    border: #ebebeb 1px solid;
}


.dashProjectONE{
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}

.dashProjectONE li{
    list-style: none;
    font-size: 13px;
}
.dashProjectTWO{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    padding-top: 30px;
    align-items:flex-start;
}

.dashProjectTWO li{
    font-size: 18px;
    list-style: none;
    font-weight: 500;
}

.dashProjectTWO span{
    font-size: 12px;
    display: block;
    padding-top: 10px;
    padding-bottom: 30px;
}

.dashProjectTWO a .view{
    cursor: pointer;
    background-color: var(--red-color);
    color: var(--white-color);
    width: 50%;
    height: 40%;
    border: none;
    border-radius: 10px;
    padding: 10px;
}


.view{
    cursor: pointer;
    background-color: white;
    color:#C32F07;
    width: 50%;
    height: 40%;
    border: none;
    border-radius: 10px;
    padding: 10px; 
    border: #C32F07 solid 1px;
}

.view1{
    cursor: pointer;
    background-color: var(--red-color);
    color: var(--white-color);
    width: 50%;
    height: 40%;
    border: none;
    border-radius: 10px;
    padding: 10px; 
}

.view1:hover{
    background-color: #c9502f;
    transition: all ease 0.3s;
} 


.appBtn{
    width: 100%;
    display: flex;
    gap: 20px;
}

.appBtn a .view{
    width: 100% !important;
    height: 100% !important;
}


@media only screen and (min-width:321px) and (max-width:768px){
    .dashProjectSectionGen{
        padding: 120px 5%;
        padding-bottom: 20px;
    }
    
    .dashProjectSectionDiv{
        background-color: white;
        padding: 20px;
    }

    .dashProjectTWO{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 10px;
        margin-bottom: 20px;
    }

    .dashProjectONE{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 20px;
    }

    .dashProjectONE li{
        border:#f4d2c6 1px solid;
        padding: 6px;
        width: 100%;
        text-align: center;
    }


    .dashProjectTWO{
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 10px;
        padding: 30px;
    }

    .appHire{
        display: flex;
        gap: 10px;
    }

    .dashProjectTWO p{
        font-size: 15px;
        font-weight: 500;
        padding: 0;
    }


    .dashProjectTWO span{
        font-size: 12px;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .dashProjectTWO a .view{
        cursor: pointer;
        background-color: var(--red-color);
        color: var(--white-color);
        width: 40%;
        height: 100%;
        border: none;
        border-radius: 10px;
        /* padding: 100px; */
    }

    .dashProjectTWO hr{
        margin-top: 20px;
        display: none !important;
    }

    hr{
        display: none;
    }
    
}