@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}



/* ===================== section ========================= */
.dashProjectDesc{
    padding: 120px 8%;
    padding-bottom: 50px;
}



.dashDescLink{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: center;
}

.dashDesLinkUL{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.dashDesLinkUL li{
    list-style: none;
    cursor: pointer;
    border-radius: 15px;
}

.copyLink{
    padding: 6px 30px;
    background-color: rgb(255, 248, 238);
    color: var(--red-color);
}

.detailSection{
    background-color: #fcfcfc;
    padding: 30px;
    margin-top: 30px;
    border-radius: 20px;
}


.detailSection h2{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 0;
    color: #5f5f5f;
    cursor: pointer;
    margin-bottom: 0;
}

.detailSectionDiv{
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding: 0;
}

.secBorder{
    border-bottom:#C32F07 solid 2px;
    transition: all ease 0.2s;
}


@media only screen and (min-width:321px) and (max-width:768px){

    .projectSectionTwo{
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        padding: 30px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .dashProjectDesc{
        padding: 140px 8%;
        padding-bottom: 30px;
    }

    .dashProjectDesc span{
        font-size: 13px;
    }

    .uil-angle-left{
        font-size: 15px;
    }


    .dashDescLink{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
    }
    

    .dashDesLinkUL{
        display: flex;
        gap: 15px;
        align-items: center;
        margin-top: 0;
    }

    .copyLink{
        width: 70%;
        text-align: center;
        margin-top: 20px;
    }

    .dashDesLinkUL{
        font-size: 11px;
        color: #808080;
    }

    .dashDesLinkUL li{
        padding-top: 10px;
    }


    .detailSectionDiv{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 20px;
        /* justify-content: center; */
        width: 100%;
        margin-bottom: 20px;
    }

    .detailSectionDiv h2{
        font-size: 13px;
        padding-bottom: 0;
        margin: 0;
        margin-bottom: 0;
        width: 60%;
        
    }

    .secBorder{
        border-bottom:#C32F07 solid 2px;
        transition: all ease 0.2s;
        width: 40% !important;
    }

    .detailSection{
        background-color: white;
        padding: 0;
        /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    }
}