@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
} 

/* =============== section Five ======================= */

.sectionFive{
    padding: 60px 8%;
    text-align: center;
}

.sectionFiveText{
    margin-bottom: 50px;
}
.sectionFiveText h2{
    font-size: 30px;
}

.sectionFiveText p{
    font-size: 18px;
}



.caroselDiv p{
    font-size: 18px;
}

.caroselDiv img{
    border-radius: 50%;
    padding-bottom: 10px;
}

.caroselDiv h3{
    padding-bottom: 50px;
    padding-top: 20px;
}

@media only screen and (min-width:321px) and (max-width:768px){
    .sectionFiveText h2{
        font-size: 25px;
    }

    .caroselDiv p{
        font-size: 13px;
    }
    
}

