@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Knait', sans-serif;
}

:root{
    --white-color:white;

    --black-color: black;

    --red-color:#C32F07;

    --grey-color: #808080;
}   


/* ================ section Four ========================= */
.sectionFour{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.sectionFourImg{
    width: 100%;
}

.sectionFourImg img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}


.sectionFourText{
    background-color: var(--black-color);
    padding: 50px;
    color: var(--white-color);
    height: 100%;
}

.sectionFourText h2{
    font-size: 35px;
    padding-bottom: 10px;
    padding-top: 30px;
}

.sectionFourText p{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.secFourUl{
    padding-left: 30px;
}


.secFourUl li{
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
}

.secFourUl span{
    font-weight: bold;
    padding-right: 10px;
}


@media only screen and (min-width:321px) and (max-width:768px){
    .sectionFour{
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
    }
    
    .sectionFourImg{
        width: 100%;
    }
    
    .sectionFourImg img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    
    
    .sectionFourText{
        background-color: var(--black-color);
        padding: 30px;
        color: var(--white-color);
        height: 80vh;
    }
    
    .sectionFourText h2{
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 500;
    }
    
    .sectionFourText p{
        font-size: 13px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    
    .secFourUl{
        padding-left: -10px;
    }
    
    
    .secFourUl li{
        text-align: left;
        font-size: 13px;
        line-height: 20px;
        font-weight: 300;
        padding-top: 15px;
    }
    
    .secFourUl span{
        font-weight: bold;
        padding-right: 10px;
    }
}


@media only screen and (min-width:768px) and (max-width: 1023px){
    .sectionFour{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }


    .sectionFourImg img{
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    
    
    .sectionFourText{
        background-color: var(--black-color);
        padding: 20px;
        color: var(--white-color);
        height: 70vh;
    }
    
    .sectionFourText h2{
        font-size: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 500;
    }
    
    .sectionFourText p{
        font-size: 12px;
        font-weight: 500;
        padding-bottom: 10px;
    }

        
    .secFourUl li{
        text-align: left;
        font-size: 12px;
        line-height: 15px;
        font-weight: 200;
        padding-top: 10px;
    }
}


@media only screen and (min-width:1024px) and (max-width: 1200px){
    .sectionFourImg img{
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }
    
    
    .sectionFourText{
        background-color: var(--black-color);
        padding: 20px;
        color: var(--white-color);
        height: 100%;
    }
    

}


@media (max-width: 1344px) {
    .sectionFourImg img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    
    
    .sectionFourText{
        background-color: var(--black-color);
        padding: 20px;
        color: var(--white-color);
        height: 100%;
    }
  }



  @media only screen and (min-width: 1201px) and (max-width: 1363px){
    .sectionFourImg img{
        height: 120vh;
    }


  }


  @media only screen and (min-width: 1364px) and (max-width: 1648px){
    .sectionFourImg img{
        height: 120vh;
    }

  
  }
