@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}


/* ====================== createOneFormDiv ======================== */

.createOneFormDiv span{
    font-size: 13px;
    color: #C32F07;
    text-align: left;
    display: block;
    cursor: pointer;
}

.createOneFormDiv span:hover{
    padding-left: 10px;
    transition: all 0.2s ease;
}


.item{
    display: flex;
    gap: 10px;
    align-items: center;
}


.item input{
    width: 100%;
}

.myCloseIcon {
    width: 5px;
    font-size: 15px;
    cursor: pointer;
}

.createOneFormDiv button{
    
}