@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}


/* ============================= container ============================ */

.container{
    padding: 100px 10%;
    padding-bottom: 50px;
    text-align: center;
}


.container h2{
    font-size: 30px; 
    font-weight: 500;

}


.createLevel{
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 30px 0;
}

.createLevel p{
    font-size: 20px;
    color: grey;
}

.levelBorder1{
    border-bottom: rgb(208, 208, 208) solid 2px;
    padding-bottom: 10px;
}

.levelBorder2{
    border-bottom: rgb(208, 208, 208) solid 2px;
    padding-bottom: 10px;
}

.levelBorder3{
    border-bottom: rgb(208, 208, 208) solid 2px;
    padding-bottom: 10px;
}

.createCarolDiv{ 
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 0;
}

.createCarolDiv div{
    border: #D9D9D9 solid 2px ;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carolBtn1{
    background-color: var(--red-color);
}

.carolBtn2{
    background-color: var(--red-color);
}

.carolBtn3{
    background-color: var(--red-color);
}


.mainBtnDiv{
    display: flex;
    gap: 50px;
    padding: 0 25%;
    align-items: center !important;
    margin-top: 20px;
}

.mainBtn1{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 11px;
    color: var(--red-color);
    border:#C32F07 solid 1px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--white-color);
    margin-top: 20px;
    cursor: pointer;
}


.mainBtn2{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 13px;
    font-size: 15px;
    background-color:#C32F07;
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    margin-top: 0;
    cursor: pointer;
}


.creatingLoadingDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

.creatingLoading{
    position: absolute;
    /* background: #fff; */
    padding: 50px;
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    position: relative;
    width: 100%;
    margin: 20px 35%;
    text-align: center;
}

.video{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


@media only screen and (min-width:321px) and (max-width:768px){
    .container{
        padding: 100px 8%;
        padding-bottom: 20px;
        text-align: center;
    }
    
    
    .container h2{
        font-size: 20px; 
        font-weight: 500;
    }

    .container p{
        font-size: 13px; 
        padding-top: 10px;
    }

    .createLevel{
        gap: 10px;
        padding: 10px 0;
        padding-top: 20px;
    }

    .createLevel p{
        font-size: 12px;
        color: grey;
    }

    .mainBtnDiv{
        display: flex;
        gap: 70px;
        padding: 0 1%;
        align-items: center;
    }

    .mainBtn1{
        padding: 10px;
        font-size: 13px;
    }

    .mainBtn2{
        margin-left: -40px;
        padding: 10px;
        font-size: 13px;
    }

    .createCarolDiv div{
        width: 12px;
        height: 12px;
    }


    .video{
    border-radius: 10%;
    width: 150px;
    height: 150px;
}
}