
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}

/* ============= Login ======================= */

.loginDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    align-items: center;
}

.logImage img{
    height: 100vh;
    width: 100%;
} 

.loginDiv h2{
    font-size: 23px;
    font-weight: 500;
}

.formDiv{
    padding: 50px 80px;
    padding-top: 150px;
}

.myForm{
    padding-top: 30px;
}

.myForm input{
    width: 70%;
    padding: 15px;
    font-size: 13px;
    border-radius: 10px;
    border: rgb(216, 216, 216) solid 1px;
    margin-bottom: 20px;
    outline: none;
}

.myForm button{
    display: block;
    width: 50%;
    padding: 13px;
    font-size: 13px;
    border: none;
    background-color: var(--red-color);
    color: var(--white-color);
    border-radius: 30px;
    margin-bottom: 30px;
    border: #808080 solid 1px;
    cursor: pointer;
    border: none;
}


.myForm button:hover{
    background-color: #da5c39;
    transition: all ease 0.2s;
}

.loadingColor {
    background-color: pink;
}

.googleForm .googleLog{
    padding: 13px;
    width: 50%;
    border-radius: 30px;
    border: none;
    background-color: #E8E8E8;
    font-size: 13px;
    margin-bottom: 30px;
    cursor: pointer;
}

.signupBtn{
    padding: 13px;
    width: 50%;
    border-radius: 30px;
    border: none;
    background-color: var(--white-color);
    color: var(--red-color);
    font-size: 13px;
    border: var(--red-color) solid 1px;
    margin-top: 30px;
    cursor: pointer;
}


.eyeDiv{
    position: relative;
}


.password-toggle-icon{
    position: absolute;
    left: 750px;
    top: 20px;
    cursor: pointer;
}

.password-toggle-icons{
    position: absolute;
    left: 430px;
    top: 20px;
    cursor: pointer;
}

@media only screen and (min-width:321px) and (max-width:768px){
    .loginDiv{
        display: grid;
        grid-template-columns: 1fr;
        height: 80vh;
        align-items: center;
    }

    .loginDiv h2{
        font-size: 20px;
        font-weight: 500;
        padding-top: 10px;
    }

    .logImage img{
        display: none;
    }
    
    
    .myForm input{
        width: 100%;
        padding: 15px;
        font-size: 13px;
    }

    .formDiv{
        padding: 20px 5%;
        padding-top: 0;
        text-align: center;
    }

    .myForm button{
        width: 100%;
        padding: 13px;
        font-size: 13px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .googleForm .googleLog{
        width: 100%;
        font-size: 13px;
        margin: auto;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 10px;
        border: #cbcbcb solid 1px;
    }


    .dont{
        display: flex;
        gap: 10px;
        font-size: 12px;
        text-align: center;
        justify-content: center;
        margin: auto;
    }


    .password-toggle-icon{
        position: absolute;
        left: 280px;
        right: 0;
        top: 15px;
        cursor: pointer;
    }

    .password-toggle-icons{
        position: absolute;
        right: 0;
        left: 280px;
        top: 20px;
        bottom: 0;
        cursor: pointer;
    }

    .errorLog{
        background-color:#da5c39;
        padding: 10px;
        position: absolute;
        top: 70px !important;
        right: 60px;
        left: 60px;
        z-index: 1000;
        color: white;
        border-radius: 10px;
        font-size: 12px;
    }

    /* .up{
        font-size: 13px;
        color: white;
        z-index: 100;
        position: absolute;
    } */
}