@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}

/* ============= Login ======================= */

.loginDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    align-items: center;
}

.logImage img{
    height: 100vh;
    width: 100%;
} 

.loginDiv h2{
    font-size: 23px;
    font-weight: 500;
}

.formDiv{
    padding: 50px 80px;
    padding-top: 150px;
}

.myForm{
    padding-top: 30px;
}

.myForm input{
    width: 70%;
    padding: 15px;
    font-size: 13px;
    border-radius: 10px;
    border: rgb(216, 216, 216) solid 1px;
    margin-bottom: 20px;
    outline: none;
}

.myForm button{
    display: block;
    width: 50%;
    padding: 13px;
    font-size: 13px;
    border: none;
    background-color: var(--red-color);
    color: var(--white-color);
    border-radius: 30px;
    margin-bottom: 30px;
    border: #808080 solid 1px;
    cursor: pointer;
    border: none;
}


.myForm button:hover{
    background-color: #da5c39;
    transition: all ease 0.2s;
}

.loadingColor {
    background-color: pink;
}

.googleForm .googleLog{
    padding: 13px;
    width: 50%;
    border-radius: 30px;
    border: none;
    background-color: #E8E8E8;
    font-size: 13px;
    margin-bottom: 30px;
    cursor: pointer;
}

.signupBtn{
    padding: 13px;
    width: 50%;
    border-radius: 30px;
    border: none;
    background-color: var(--white-color);
    color: var(--red-color);
    font-size: 13px;
    border: var(--red-color) solid 1px;
    margin-top: 30px;
    cursor: pointer;
}


@media only screen and (min-width:321px) and (max-width:768px){
    .loginDiv{
        display: grid;
        grid-template-columns: 1fr;
        height: 100vh;
        align-items: center;
    }

    .loginDiv h2{
        font-size: 20px;
        font-weight: 500;
    }

    .logImage img{
        height: 55vh;
        width: 100%;
    }
    
    
    .myForm input{
        width: 100%;
        padding: 13px;
        font-size: 13px;
    }

    .formDiv{
        padding: 20px 8%;
        padding-top: 40px;
        text-align: center;
    }

    .myForm button{
        width: 100%;
        padding: 13px;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .googleForm .googleLog{
        width: 100%;
        font-size: 13px;
        margin: 10px;
    }

    .signupBtn{
        width: 100%;
        font-size: 13px;
        margin-top: 13px;
    }
}