@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}


/* ==================== section ============================= */


.createOneFormDiv{
    padding: 20px 25%;
}



.createOneDiv label{
    text-align: left;
    display: block;
    padding-bottom: 10px;
}

.createOneDiv input{
    margin: auto;
    display: flex;
    justify-content: center;
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 1px rgb(179, 179, 179) ;
    font-size: 15px;
    outline: none;
}



.createOneDiv textarea{
    margin: auto;
    display: flex;
    justify-content: center;
    display: block;
    width: 100%;
    height: 150px;
    max-height: 150px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: rgb(197, 197, 197) solid 1px;
    font-size: 15px;
    outline: none;
}

.createOneDiv button{
    justify-content: center;
    padding: 10px ;
    width: 30%;
    display: flex;
    text-align: center;
    border: none;
    font-size: 13px;
    background-color: var(--red-color);
    color: var(--white-color);
    border-radius: 30px;
    margin: 0;
    cursor: pointer;
}


.createOneDivs{
    padding: 20px;
    border: rgb(197, 197, 197) solid 1px;
    text-align: center;
    border-radius: 20px;
}


.createOneDivs img{
    padding-top: 30px;
}

.createOneDivs label{
    text-align: left;
    display: block;
}


.createOneDivs input{
    text-align: center;
    border: solid 1px rgb(221, 221, 221) ;
    padding-left: 40%;
    padding-top: 20px;
}

.uil-upload-alt{
    padding-left: 5px;
    font-size: 15px;
}

.createSelect{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: rgb(197, 197, 197) solid 1px;
    font-size: 15px;
    margin-bottom: 10px;
}

.createOneFormDiv button{
    border: var(--red-color) solid 1px;
    padding: 13px;
    width: 30%;
    border-radius: 20px;
    font-size: 13px;
    background-color: white;
    color: #C32F07;
    margin-top: 20px;
    cursor: pointer;
}


@media only screen and (min-width:321px) and (max-width:768px){
    .createOneFormDiv{
        padding: 20px 1%;
    }

    .createOneDiv input{
        font-size: 13px;
        padding: 15px;
        border: rgb(232, 232, 232) 1px solid !important;
        border-radius: 10px;
    }

    .createOneDiv label{
        font-size: 12px;
        padding-top: 10px;
    }

    .createOneDiv button{
        width: 100%;
    }

    .createOneDiv label{
        text-align: left;
        display: block;
        padding-bottom: 10px;
        font-size: 13px;
    }
    

    .createSelect{
        padding: 10px;
    }


    .createOneDiv textarea{
        width: 100%;
        height: 150px;
        max-height: 150px;
        padding: 13px;
        font-size: 13px;
        border: rgb(232, 232, 232) 1px solid !important;
    }


    .createOneDivs label{
        text-align: left;
        display: block;
        font-size: 13px;
        padding-bottom: 30px;
    }
    


    .createOneDivs input{
        text-align: center;
        border: none !important;
        padding-left: 15%;
        padding-top: 20px;
    }
}
