@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}


/* =========================== section ============================= */


.builderCreateReviewSections {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  

  .builderCreateReviewDivs {
    background: #fff;
    padding: 60px 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 50%;
    margin: 20px 25%;
    text-align: center;
  }

  .reviewCloseIcon{
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: 50px;
    color: #000000;
    z-index: 3;
    cursor: pointer;
}

.reviewCloseIcon:hover{
  rotate: 90deg;
  transition: all ease 0.5s;
}


.builderCreateReviewDivs button{
  margin-top: 20px;
  padding: 12px;
  background-color: #C32F07;
  color: white;
  font-size: 13px;
  width: 30%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


@media only screen and (min-width:321px) and (max-width:768px){
  .builderCreateReviewSections {
    /* padding: 0 1%; */
  }
  

  .builderCreateReviewDivs {
    width: 100%;
  }

  .reviewCloseIcon{
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: 50px;
    color: #000000;
    z-index: 3;
    cursor: pointer;
}

.reviewCloseIcon:hover{
  rotate: 90deg;
  transition: all ease 0.5s;
}


.builderCreateReviewDivs{
  padding: 60px 60px;
}

.builderCreateReviewDivs img{
  width: 220px;
}


.builderCreateReviewDivs h2{
  font-size: 20px;
  padding-top: 30px;
}

.builderCreateReviewDivs p{
  font-size: 12px;
  padding-top: 30px;
}


.builderCreateReviewDivs button{
  margin-top: 20px;
  padding: 12px;
  background-color: #C32F07;
  color: white;
  font-size: 13px;
  width: 100%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

}