@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Syne:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}

/* ================== section ========================= */

.proDesOneDiv{
    padding: 50px 0;
}

.proDesOneFlexTwo{
    display: grid;
    grid-template-columns: 4fr 200px;
    padding-bottom: 30px;
}


.proDesOneFlexTwo h4{
    font-size: 25px;
    font-weight: 500;
}


.proDesOneFlexOne{
    padding-bottom: 30px;
}

.proDesOneFlexOne h4, p{
    padding-bottom: 10px;
}

.proDesOneFlexOne p{
    font-size: 13px;
}


.proSubGrid{
    display: flex;
    gap: 150px;
}



.proDesOneFlexThree{
    padding-top: 30px;
}

.proDesOneFlexThree h3{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}


.proDesOneFlexThree p{
    font-size: 13px;
    width: 70%;
    padding-bottom: 40px;
}

.proDesOneDiv hr{
    border: rgb(222, 222, 222) solid 1px;
}





/* .proDesOneFour{
    padding-top: 30px;
}


.proDesOneFour h3{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}


.proDesOneFlexFourMain{
    padding-bottom: 30px;
}
.proDesOneFlexFour{
    display: grid;
    grid-template-columns: 3fr 200px;
} */


.proDescFive{
    padding-top: 30px;
}

.proDevImage{
    display: flex;
    gap: 10px;
}



.proDescFive img{
    width: 10%;
    height: 120px;
    border-radius: 10px;
}
.proDescFive h3{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}

.proDescFive p{
    color: #C32F07;
    font-size: 13px;
    cursor: pointer;
}


.workNoShow{
    color: #000000;
}


.proDevImage{
    display: block;
}

.proDevImage a{
    display: block;
}



@media only screen and (min-width:321px) and (max-width:768px){
    
    .proDesOneDiv{
        padding: 10px 0;
    }


    .proDesOneFlexTwo{
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }



    .proDesOneFlexOne{
        padding-bottom: 20px;
    }

    .proSubGrid{
        display: block;
        gap: 50px;
    }


    .proDesOneFlexTwo h4{
        font-size: 18px;
        font-weight: 500;
    }


    .proDesOneFlexThree h3{
        padding-bottom: 10px;
    }

    .proDesOneFlexThree p{
        font-size: 12x;
        width: 100%;
        padding-bottom: 20px;
        
    }


    .proDesOneFlexThree{
        padding-top: 0 !important;
    }


    .proDevImage{
        display: block;
    }
    

    .proDevImage img{
        width: 100%;
    }
}


/* ========================== Project Section =================== */

.projectSectionTwo{
    display: grid;
    grid-template-columns: 60px 3fr 300px;
    padding-top: 40px;
    gap: 50px;
}


.projectSectionTwoDiv hr{
    border: rgb(230, 230, 230) solid 1px;
}
.review{
    padding-left: 50px;
}

/* .proSeniorDiv{
    display: flex;
    gap: 20px;
} */


.proSeniorDiv img{
    width: 100%;
}

.proSenior{
    display: flex;
    gap: 50px;
    align-items: center;
}


.proSenior h2{
    font-size: 30px;
    font-weight: 500;
    color: #000000;

}



.proSectHire h2{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.sectTwoIcons{
    color: #C32F07;
    font-size: 16px;
}


.hireNum{
    font-size: 20px;
    padding-bottom: 20px;
}

.projectSec2BtnsNew{
    display: flex;
}

.projectSec2BtnsNew button{
    font-size: 13px;
    padding: 10px 20px;
    margin-right: 20px;
}

.projectSec2Btns button{
    font-size: 13px;
    padding: 10px 20px;
    margin-right: 20px;
}


.secTwoView{
    background-color: white;
    border: #C32F07 solid 1px;
    border-radius: 10px;
    cursor: pointer;
}


.secTwoView:hover{
    border: #808080 solid 1px;
    transition: all ease 0.3s;
} 


.secTwoHire{
    background-color:#C32F07;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}


.secTwoHire:hover{
    background-color: #e15731;
    transition: all ease 0.3s;
} 



@media only screen and (min-width:321px) and (max-width:768px){

    /* .projectSectionTwo{
        display: grid;
        grid-template-columns: 60px 3fr 300px;
        padding-top: 40px;
        gap: 50px;
    } */



    .projectSectionTwo{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 20px;
        gap: 10px;
    }
    

    .proSeniorDiv img{
        width: 30px;
    }


    .proSenior{
        display: block;
        padding-bottom: 20px;
    }


    .proSenior h2{
        font-size: 20px;
        font-weight: 500;
        color: #000000;
    
    }


    .projectSectionTwo p{
       font-size: 11px; 
    }   


    .projectSec2BtnsNew{
        display: flex !important;
        gap: 10px;
    }


    .secTwoView{
        width: 40%;
        margin-bottom: 10px; 
    }


    .secTwoHire{
        width: 40%;
        margin-bottom: 10px;
    }


    .review{
        font-size: 10px !important;
    }

    .sectTwoIcons{
        font-size: 12px;
    }

    
    .proSenior h2{
        font-size: 18px;
    }

    .proSenior span{
        font-size: 15px;
    }

    .projectSectionTwo p{
        font-size: 12px;
    }

    .hireNum{
        font-size: 14px !important;
    }

}



/* =============== project section 3 ========================= */

.projectSecThree{
    padding-top: 50px;
    margin: auto;
    justify-content: center;
    text-align: center;

}
.projectSecThree img{
    width: 20%;
}

.projectSecThree h2{
    font-size: 20px;
    color: #000000;
    padding-top: 20px;
} 



@media only screen and (min-width:321px) and (max-width:768px){
    .projectSecThree{
        padding-top: 50px;
        margin: auto;
        justify-content: center;
        text-align: center;
    
    }
    .projectSecThree img{
        width: 20%;
    }
    
    .projectSecThree h2{
        font-size: 20px;
        color: #000000;
        padding-top: 20px;
        width: 60%;
    } 


    .proDevImage{
        display: block;
    }
    
    .proDevImage a{
        display: block;
        font-size: 13px;
    }
}