@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#000000;

    --red-color:#C32F07;

    --grey-color: #808080;
}


/* ===================== apply section ======================== */

.applySection{
    padding: 50px 20%;
    padding-top: 60px;
    border: #a3a3a3 1px solid;
}


.applyFlexDiv{
    padding-top: 50px;
    font-weight: 400;
}

.copyDiv{
    display: flex;
    gap: 0;
}


/* .secBorder{
    border: #b0b0b0 solid 1px;
    border-radius: 20px;
    padding: 50px;
    margin-top: 20px;
    width: 100%;
} */

.productDetails{
    padding-top: 20px;
}

.productDetails h3{
    padding-top: 10px;
    padding: 0;
    font-size: 17px;
    font-weight: 300;
}


.productDetails h2{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 300;
}


.projectDesBord{
    border: #e3e3e3 solid 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;

}

.bidDiv{
    border: #e3e3e3 solid 1px;
    padding: 20px;
    border-radius: 20px;
}


.bidDiv h2{
    font-size: 20px;
    padding-top: 20px;
}


.bidDiv button{
    background-color: #C32F07;
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}


.hireSecDiv a button{
    padding: 8px 40px;
}



.modal-overlay-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* display: none; */
  }
  
  /* Modal content styles */
  .modal-view {
    background: #fff;
    padding: 50px 70px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: left;
    border-radius: 30px;
    overflow-y: scroll;
    height: 70%;
  }


  .modal-view p,h2,h3,h4{
    padding: 0;
    margin: 0;
}

.modal-view-One{
    padding-bottom: 50px;
}

.modal-view-One p{
    color: #808080;
    font-size: 13px;
}

.modal-view-One h3{
    text-transform: capitalize;
    font-size: 15px;
}


.modal-view-Two h2{
    font-size: 15px;
    padding-top: 10px;
}

.modal-view-Two h4{
    padding-top: 10px;
    font-size: 13px;
    font-weight: 400;
}

.modal-view-Three{
    padding-top: 50px;
}


.modal-view button{
    padding: 10px 40px;
    margin-top: 20px;
    background-color: #C32F07;
    color: white;
    border: none;
    border-radius: 10px;
}



.modal-view-sent {
    background: #fff;
    padding: 50px 70px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
    text-align: center;
}


.modal-view-sent img {
    width: 50%;
}


.modal-view-sent h2 {
   padding-top: 20px;
   font-size: 18px;
}


.modal-view-sent p {
    padding-top: 10px;
    font-size: 13px;
 }


 .modal-view-sent button{
    padding: 10px 30px;
    background-color: #C32F07;
    color: white;
    border: none;

    border-radius: 10px;
 }


 .itemDivRequest{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding-top: 20px;
 }


 .itemDivRequest h3{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 15px;
    color: #808080;
 }


 .itemDivRequest p{
    
 }

 .itemDivRequest input{
    border-radius: 5px !important;
    padding: 10px 10px !important;
    padding-left: 10px !important;

 }


 .delivery{
    padding-top: 20px;
 }


 .willDeliver{
    padding-top: 20px;
 }


 .applyFlexDiv{
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: center;
}

.applyFlexDiv button{
    padding: 10px 30px;
    border: #C32F07 1px solid; 
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    color: #C32F07;
}



@media only screen and (min-width:321px) and (max-width:768px){
    .applySection{
        padding: 50px 5%;
        padding-top: 50px;
    }


    .itemDivRequest{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 20px;
    }


    .itemDivRequest h3{
        font-size: 15px;
        font-weight: 300;
        padding-bottom: 15px;
        color: #808080;
    }


    .itemDivRequest p{
        
    }


    .copyDiv{
        display: block;
        gap: 50px;
    }

    .copyDiv span{
        display: block;
        font-size: 12px;
    }


    .linkBtn{
        background-color: antiquewhite;
        color: #000000;
        width: 40%;
        padding: 5px 10px;
        border-radius: 10px;
        margin-top: 10px;
    }

    /* .bidFormDiv input, textarea{
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    } */

    .copyDiv p{
        font-size: 12px;
        color: gray;
        padding-top: 10px;
    }

    .applyTech{
        padding-top: 50px;
        font-size: 20px;
        padding-bottom: 0;
        margin: 0;
    }


    .productDetails{
        padding-top: 10px;
    }

    .productDetails p{
        font-size: 12px;
        padding-top: 10px;
    }

    .productDetails h3{
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
    }

    .productDetails h2{
        font-size: 13px;
        color:#b0b0b0;
        font-weight: 300;
        margin: 0;
        padding-top: 0;
    }


    .createOneDiv label{
        font-size: 12px;
        color:#a3a3a3;
        padding-bottom: 10px;
    }


    .bidDiv button{
        background-color: #C32F07;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 10px;
        color: white;
        margin-top: 10px;
    }


    .modal-view {
        width: 90%;
        padding: 40px;
        border-radius: 10px;
        overflow-y: scroll;
    }

    
    .modal-view p,h2,h3,h4{
        padding: 0;
        margin: 0;
    }

    .modal-view-One{
        padding-bottom: 30px;
    }


    .modal-view-Three h4{
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
        text-align: justify;
    }

    .modal-view-Three{
        padding-top: 30px;
    }


    .modal-view-sent {
        width: 90%;
        padding: 30px;
    }

    .modal-view-sent p{
        font-size: 13px;
    }


    .secBorder{
        border: none;
        border-radius: 0;
        padding: 0;
        margin-top: 0;
        width: 100% !important;
    }


    .applyFlexDiv{
        display: block;
        padding-top: 10px;
    }


    .applyFlexDiv h2{
        font-size: 20px;
    }
    .applyFlexDiv button{
        padding: 10px 20px;
        font-size: 13px;
        border: #C32F07 1px solid; 
        background-color: white;
        border-radius: 10px;
        cursor: pointer;
        color: #C32F07;
        margin-top: 20px;
    }


}
