@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --white-color:white;

    --black-color:#070417;

    --red-color:#C32F07;

    --grey-color: #808080;
}   


h1,h2,h3,h4,h5,h6, p, span, label, button, input, select, textarea{
    font-family: 'Kanit', sans-serif;
}


.openbtn, .closebtn{
    display: none;
    font-size: 20px;
}

.headers{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 8px 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}



.headers img{
    width: 150px;
}

.ulDiv{
    display: flex;
    gap: 250px;
    align-items: center;
}


.nav-ul1 .li{
    display: inline-block;
    padding-right: 40px;
    cursor: pointer;
    position: relative;
    color: black;
}

ul .li::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--red-color);
    transition: width 0.3s ease;
    transform: translateY(-50%);
}

ul .li:hover::before {
    width: 50%;
}

.navBtn{
    display: flex;
    gap: 20px;
}

.navBtn button{
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--grey-color);
    color: var(--white-color);
}

.navBtn button:hover{
    background-color: #a8a8a8;
    transition: all ease 0.3s;
}

.navBtn .signup{
    background-color: var(--red-color);
    color: white;
}

.navBtn .signup:hover{
    background-color: #de4f27;
    transition: all ease 0.3s;
}

/* ================== media query styles ================= */
@media only screen and (min-width:321px) and (max-width:768px){

    .openbtn, .closebtn{
        display: block;
        font-size: 30px;
        position: absolute;
    }

    .openbtn{
        right: 20px;
    }

    .closebtn{
        top: 30px;
        right: 20px;
    }


    .ulDiv{
        background-color: var(--black-color) ;
        color: var(--white-color);
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 60px;
        left: -100%;
        /* left: 0; */
        bottom: 0;
        padding-left: 40px;
        padding-top: 60px;
        z-index: 100;

    }

    .headers{
        z-index: 3;
    }

    .open{
        left: 0;
        transition: all 0.5s ease;
    }

    .close{
        left: -100%;
        transition: all 0.5s ease;
    }  


    .headers img{
        width: 120px;
    }

    .nav-ul1 .li{
        display: block;
        padding-bottom:20px;
        font-size: 15px;
        color: white;
    }

    .navBtn{
        display: flex;
        gap: 20px;
    }

    
}


/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */


/* 769px — 1024px: */
@media only screen and (min-width:769px) and (max-width:1025px){

    .headers{
        display: grid;
        grid-template-columns: 100px 2fr;
        align-items: center;
        padding: 6px 3%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: var(--white-color);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3 !important;
        gap: 170px;
    }


    .headers img{
        width: 140px;
    }


    .ulDiv{
        display: flex;
        gap: 50px !important;
        align-items: center;
    }

    .nav-ul1 .li{
        display: inline-block;
        padding-right: 20px;
        cursor: pointer;
        position: relative;
        color: black;
    }

}


@media only screen and (min-width:1201px) and (max-width:1440px){
    .headers{
        display: grid;
        grid-template-columns: 100px 10;
        align-items: center;
        padding: 10px 5%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: var(--white-color);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3 !important;
    }

    .ulDiv{
        display: flex;
        gap: 80px;
        align-items: center;
    }

    .nav-ul1 .li{
        display: inline-block;
        padding-right: 30px;
        cursor: pointer;
        position: relative;
        color: black;
    }
}